@charset "UTF-8";

/*
em HTML é ID = em CSS é # (só pode um elemento ID em cada Html)
em HTML é cçass = em CSS é . (pode vários elementos)

*/

body {
    background-image:linear-gradient(to right,#3f7535cb, #D8FFD1);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #dcf7dc;
}

h1#principal {
    background-color: #0E3307;
    text-align: center;
    color: white;
}

h2 {
    color: rgb(45, 160, 22);
}

.basico {
 color: rgb(25, 73, 6);
}

.intermediario {
color: rgb(189, 189, 16);
}

.avancado {
color: rgb(209, 26, 26);
}

.destaque {
    background-color: rgb(221, 221, 42);
}